.player-container {
  height: 400px;
  width: 100%;
  padding-top: 22.5px;
  position: relative;
  top: 70px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
}

.player-cross {
  margin-left: 15px;
  font-size: 40px;
  cursor: pointer;
  color: white;
}
